@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.home-list-component{
  width: 100%;
  //max-width: 1200px;
  //min-width: 320px;
  //margin: 0 auto;

  .first-img{
    position: relative;
    .introduce{
      position: absolute;
      top: 24%;
      left: 15%;
      width: 60%;
      min-width: 330px;
      .welcome-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 1.8;
      }
      .brif{
        font-size: 18px;
        line-height: 2.4;
      }
    }
  }

  .home-image{
    //height: 100%;
    //width: auto;
    margin: 0 auto;
    display: block;

    width: 100%;
    height: auto;
  }

  .page-img{
    //background-image: url(../../../assets/images/home3.png);
    //background-size:cover;
    width: 100%;
    height: auto;
  }



  .company-title{
    text-align: center;
  }
  .company-info-container{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 12px;
  }

  .service-intro-container{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 12px;
    .show_item_left{
      display: inline-block;
      float: left;
      width: 40%;
      padding-right: 12px;
      .service-img{
        width: 100%;
        height: auto;
      }
    }
    .show_item_right{
      width: 60%;
      display: inline-block;
      line-height: 1.6;
    }
    &:after{
      content:',';
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
    }
  }

}


