@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.home-list-component{
  width: 100%;
  //max-width: 1200px;
  //min-width: 320px;
  //margin: 0 auto;

  .pagerSelector{
    position: absolute;
    bottom: 25px;
    width: 100%;
  }

  .first-img{
    position: relative;
    .introduce{
      position: absolute;
      top: 24%;
      left: 15%;
      width: 60%;
      min-width: 330px;
      max-width: 520px;
      .welcome-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 1.8;
        text-align: center;
      }
      .brif{
        font-size: 18px;
        line-height: 2.4;
      }
    }
  }

  .second-img{
    position: relative;
    font-size: 18px;
    .intro-two{
      position: absolute;
      top: 24%;
      left: 15%;
      width: 60%;
      min-width: 330px;
      max-width: 380px;
      line-height: 1.8;
      a.btn-default{
        color: #333;
        background-color: #fff;
        border-color: #ccc;
      }
    }
  }

  .third-img{
    position: relative;
    .intro-third-left{
      position: absolute;
      top: 24%;
      left: 10%;
      width: 60%;
      min-width: 230px;
      max-width: 280px;
      font-size: 18px;
      line-height: 2.4;
    }

    .intro-third-right{
      position: absolute;
      top: 24%;
      right: 8%;
      width: 60%;
      min-width: 230px;
      max-width: 280px;
      font-size: 18px;
      line-height: 2.4;
      .important-msg{
        font-weight: bold;
      }
      a.btn-default{
        background-color: transparent;
        margin-top: 15px;
        color: #333;
        border: 2px solid #000;
        border-radius: 4px;
      }
    }
  }



  .home-image{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }


}


