
<div align="center">
    <h2>Welcome to Kattell and Company, P.L.</h2>
    <h6> A professional accounting firm serving the nonprofit community.</h6>
  </div>

<div class = "card mx-auto" id="homeCard" style="max-width: 75%;" align = "center">



  <div class="row">
      <div class="col-sm-6">
          <div class="card bg-light mb-3" >
              <div class="card-header">Email Addresses </div>

              <div class="card-body" *ngIf = "employeeInfo.length > 0">
                <p class="card-text" *ngFor="let einfo of employeeInfo">

                    {{ einfo.employeeName }} - {{ einfo.employeeEmail }}
                    <br />
                    <a class="btn btn-info btn-sm" [routerLink]="['/edit', einfo.employeeID]">EDIT <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(einfo.employeeID)">DELETE <i class="fa fa-times" aria-hidden="true"></i></button>

                </p>
                <div align = "center">
                    <a class="btn btn-primary" role="button" routerLink="/addEmployeeInfo" routerLinkActive = "router-link-active" [routerLinkActiveOptions]="{exact:
                      true}" ><h6>Add new Employee Info</h6></a>
                 </div>
              </div>
              <div class="card-body" *ngIf = "employeeInfo.length <= 0">
                  <p class="card-text">No Employee Information</p>
                  <div align = "center">
                      <a class="btn btn-primary" role="button" routerLink="/addEmployeeInfo" routerLinkActive = "router-link-active" [routerLinkActiveOptions]="{exact:
                        true}" ><h6>Add new Employee Info</h6></a>
                   </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
       <div class="card bg-light mb-3">
              <div class="card-header">Company Info</div>
              <div class="card-body">
                <p class="card-text">
                    808-B NW 16th Avenue
                    Gainesville, Florida 32601 <br/>
                    Telephone: (352) 395-6565 <br/>
                    Facsimile:  (352) 395-6636
                </p>
              </div>
          </div>
      </div>
    </div>
  </div>

<style>
body {
    background-color: lightblue;
}
</style>

