@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.home-list-component{
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  .company-title{
    text-align: center;
  }
  .company-info-container{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 12px;
  }

  .service-intro-container{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 12px;
    .show_item_left{
      display: inline-block;
      float: left;
      width: 40%;
      padding-right: 12px;
      .service-img{
        width: 100%;
        height: auto;
      }
    }
    .show_item_right{
      width: 60%;
      display: inline-block;
      line-height: 1.6;
    }
    &:after{
      content:',';
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
    }
  }

}


