@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.home-list-component{
  width: 100%;
  //max-width: 1200px;
  //min-width: 320px;
  //margin: 0 auto;

  .pagerSelector{
    position: absolute;
    bottom: 25px;
    width: 100%;
  }

  .first-img{
    position: relative;
    .introduce{
      position: absolute;
      top: 24%;
      left: 15%;
      width: 60%;
      min-width: 330px;
      max-width: 520px;
      .welcome-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 1.8;
        text-align: center;
      }
      .brif{
        font-size: 18px;
        line-height: 2.4;
      }
    }
  }

  .second-img{
    position: relative;
    font-size: 18px;
    .intro-two{
      position: absolute;
      top: 24%;
      left: 15%;
      width: 60%;
      min-width: 330px;
      max-width: 380px;
    }
  }

  .third-img{
    position: relative;
    .intro-third-left{
      position: absolute;
      top: 24%;
      left: 10%;
      width: 60%;
      min-width: 230px;
      max-width: 280px;
      font-size: 18px;
    }

    .intro-third-right{
      position: absolute;
      top: 24%;
      right: 8%;
      width: 60%;
      min-width: 230px;
      max-width: 280px;
      font-size: 18px;
    }
  }

  .forth-img{
    position: relative;
    .center-container{
      position: absolute;
      width: 100%;
      top: 20%;
      .inro-container{
        min-width: 530px;
        max-width: 960px;
        margin: 0 auto;
        width: 80%;
        line-height: 1.6;
        .title{
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          line-height: 2;
        }
        .introduce{
          line-height: 1.6;
          font-size: 18px;
        }
        .img-container{
          margin-top: 10px;
          .img-item{
            float: left;
            width: 33.33%;
            text-align: center;
            img{
              margin: 0 auto;
              height: 120px;
              width: auto;
            }
          }
        }
      }
    }

  }

  .home-image{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
  }


}


