@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
  margin-top: 3%;
}

.row {
  margin: auto;
}

#homeCard {
  margin-top: 2%;
  background-color: rgb(235, 231, 174);
}

.col-sm-6 {
  margin-top:2%;
}

.card-text {
  margin-left: 0;
}

.form-group {
  margin: 5px;
}

.btn-info {
  margin-right: 3px;
}
