@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
  margin-top: 3%;
}

.row {
  margin: auto;
}

#homeCard {
  margin-top: 2%;
  background-color: rgb(235, 231, 174);
}

.col-sm-6 {
  margin-top:2%;
}

.card-text {
  margin-left: 0;
}

.form-group {
  margin: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}



