<div class="home-list-component">

  <div class="slider-container">
    <div class="bxslider">
      <div class="slide first-img" >
        <img src="https://advisory.kpmg.us/content/advisory/en/index/articles/2017/forensic-focus-library.img.png.transform/512x341/image.jpg" style="height: 710px;" class="home-image">
        <div class="introduce">
          <div class="welcome-title">
            <div>Welcome</div>
            <div>to the</div>
            <div>Kattell and Company</div>
          </div>
          <div class="brif">A professional accounting firm serving the nonprofit community.</div>
        </div>
      </div>

      <div class="slide second-img" >
        <img src="https://media.giphy.com/media/rzRnddMhrILLO/giphy.gif" style="height: 710px;" class="home-image">
        <div class="intro-two">
          <div class="description">
            Kattell and Company provides the highest quality accounting and auditing services exclusively to not-for-profit organizations.
          </div>
          <div>
            <a class="btn btn-outline-dark" routerLink="/aboutUs" role="button">LEARN MORE</a>
          </div>
        </div>
      </div>

      <div class="slide third-img" >
        <img src="https://leadership.saportareport.com/povertyandequity/files/2017/10/nonprofit-charity.jpg" style="height: 710px;" class="home-image" >
        <div class="intro-third-left animated slideOutLeft"  style="color: white; text-shadow: 0 1px 2px rgba(255, 230, 230, 0.898);">
          Our focus is not-for-profit organizations. This is what we know, it's what we are good at, and it's what we like to do.
        </div>
        <div class="intro-third-right animated slideOutRight">
          <div class="important-msg" style="color: white; text-shadow: 0 1px 2px rgba(255, 230, 230, 0.898);">We have served <strong class="word">50+</strong> nonprofit organizations.</div>
          <div  style="color: white; text-shadow: 0 1px 2px rgba(255, 230, 230, 0.898);">Check out our client list!</div>
          <a class="btn btn-outline-light" routerLink="/userList" role="button">LEARN MORE</a>
        </div>
      </div>

    </div>
  </div>
  <div class="pagerSelector"></div>

</div>



