@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.router-link-active {
  border: 2px solid;
  background-color:  rgb(44, 112, 135);
  font-weight: bold;
}


.logout-btn {
  color: white;
}

.navbar{
  width: 100%;
}

.navbar-collapse {
  background-color: lightblue;
}
