<nav class="navbar navbar-expand-md navbar-dark  header-component">
  <a class="navbar-brand" routerLink="/">Kattell and Company, P.L.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                      true}"><h6>Home</h6> <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutUs" routerLinkActive = "router-link-active" [routerLinkActiveOptions]="{exact:
          true}" ><h6>About Us</h6></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contactUs" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                      true}"><h6>Contact Us</h6></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/userList" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                      true}"><h6>Our Client</h6></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/officeLocation" routerLinkActive="router-link-active"
           [routerLinkActiveOptions]="{exact:
                      true}"><h6>Office Location</h6></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/CustominfoUploadComponent" routerLinkActive="router-link-active"
           [routerLinkActiveOptions]="{exact:
                      true}"><h6>Upload File</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/testimonials" routerLinkActive = "router-link-active" [routerLinkActiveOptions]="{exact:
          true}" ><h6>Testimonials</h6></a>
      </li>

    </ul>
    <a *ngIf="!adminIsAuthenticated" class="btn  my-2 my-sm-0 signup-btn" routerLink="/signup"
       routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                  true}"><h6>Sign Up  <i class="fa fa-user-plus" aria-hidden="true"></i></h6></a>

    <a *ngIf="!adminIsAuthenticated" class="btn  my-2 my-sm-0 login-btn" routerLink="/login"
       routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                  true}"><h6>Log In  <i class="fa fa-sign-in" aria-hidden="true"></i></h6></a>
    <button *ngIf="adminIsAuthenticated" class="btn  my-2 my-sm-0 logout-btn" (click)="onLogout()"><h6>Log Out</h6>
    </button>
  </div> <!--end of second group div-->
</nav>
