@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.header-component{
  position: absolute;
  top: 0;
  left: 0;
  right: 6px;
  z-index: 999;

  .navbar-brand{
    font-size: 24px;
    font-weight: bold;
    color: #999;
    &:hover{
      color: #999;
    }
    a:visited{
      color: #999;
    }
  }

  .nav-link{
    h6 {
      color: grey;
      margin-bottom: 0;
      opacity: 0.5;
      font-weight: 600;
    }
    h6:hover {
      opacity: 1.0;
      color: rgb(206, 96, 151);
  }
    &a {
      border: 0px solid rgb(250, 178, 178);
    }
  }


.navbar .navbar-toggler .icon-bar {
  color: black !important;
}


  .router-link-active {
    // border: 2px solid;
    // border-color:#ccdbe2e5;
    // background-color:  rgb(203, 233, 243);

    h6 {
      font-weight: bold;
      color: rgb(206, 96, 151);
      opacity: 1.0;
    }

  }


  .signup-btn{
    border-color: #999;
    margin-right: 12px;
    border-radius: 20px;
    h6 {
      margin-bottom: 0;
    }
  }
  .login-btn{
    border-color: #999;
    border-radius: 20px;
    h6 {
      margin-bottom: 0;
    }
  }

  .logout-btn{
    border-color: #999;
    border-radius: 20px;

    h6 {
      margin-bottom: 0;
    }
  }
}

.navbar-expand-md {
  width: 100%;
}


@media (min-width: 768px) {
  .header-component {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
  }
}

/* Anything Smaller than Large  */
@media (max-width: 767px) {
  .header-component {
      background:white;
  }
}

