<!--<div class = "card mx-auto" id="homeCard" style="max-width: 50%;" align = "center">-->
    <!--<form (submit)="onLogin(loginForm)" #loginForm="ngForm" >-->
        <!--<div class="form-group">-->
          <!--&lt;!&ndash; <label for="exampleInputEmail1">Email address</label> &ndash;&gt;-->
          <!--<input name="email" ngModel type="email" class="form-control"-->
          <!--id="email" aria-describedby="emailHelp" placeholder="Enter your email" #emailInput = "ngModel"-->
          <!--required email>-->
          <!--&lt;!&ndash;note: the [ngModel] employeeInfo is the property defined in home-create.component.ts&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--&lt;!&ndash; <label for="exampleInputEmail1">Email address</label> &ndash;&gt;-->
          <!--<input name="password" ngModel type="password"-->
          <!--class="form-control"-->
          <!--id="password"-->
          <!--placeholder="Create a Password"-->
          <!--#passwordInput = "ngModel"-->
          <!--required>-->
        <!--</div>-->

        <!--<button type="submit" class="btn btn-primary">Login</button>-->
    <!--</form>-->

<!--</div>-->


<div class="login-component">
  <h1 class="brand">
    Log In
  </h1>
  <div class = "card mx-auto login-component-form"  align = "center">

    <form class="form-horizontal" (submit)="onLogin(signupForm)" #signupForm="ngForm">
      <mat-form-field>
        <!-- <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-9"> -->

          <input matInput name="email" ngModel type="email"
                 id="email"  placeholder="Enter your email" #emailInput = "ngModel"
                 required email>
        <!-- </div> -->
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <!-- <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-9"> -->

          <mat-form-field>
            <input matInput name="password" ngModel type="password"
                   id="password"
                   placeholder="Enter your Password"
                   #passwordInput = "ngModel"
                   required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
          </mat-form-field>
        <!-- </div>
      </div> -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>

  </div>
</div>
