@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.form-group {
  margin: 3px;
}

input[type="file"] {
  visibility:hidden;
}

.btn-outline-warning {
  margin-bottom:2%;
  margin-left:2px;
}

.image-preview {
  height: 5rem;
  margin: 1rem, 0;
}

.image-preview img {
  height: 100%;
}

mat-form-field {
  width:100%;
}

#aboutUsCard {
  border:none;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(25, 225, 171, 0.2);
  transition: 0.3s;
  background-color: white;
}

#aboutUsCard:hover {
  box-shadow: 4px 8px 8px 4px rgba(25, 225, 171, 0.2);
}
