<div class="container">
  <div class="wrapper animated bounceInLeft" style=" padding:1em;  margin-top: 45px;">
    <div class="company-info">
      <h3>Send us a message</h3>
      <ul>
        <li><i class="fa fa-road"></i> 808 NW 16th Ave B, Gainesville, FL 32601</li>
        <li><i class="fa fa-phone"></i> (352)395-6565</li>
        <li><i class="fa fa-envelope"></i> rxu960830@ufl.edu</li>
      </ul>
      <div style="width: 100%;height: 320px;">
          <iframe class = "center" width="350" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=kattell%20and%20company&key=AIzaSyCpyy5gPZ2VTod-lKDsJBlNQI6vbeSTPkk" allowfullscreen></iframe>
      </div>
    </div>
    <div class="contact">

      <h3>Email Us</h3>
      <form method="post">
        <p>
          <label>First Name</label>
          <input type="text" name="firstname" [(ngModel)]="firstname">
        </p>
        <p>
          <label>Last Name</label>
          <input type="text" name="lastname" [(ngModel)]= "lastname" >
        </p>
        <p>
          <label>Email Address</label>
          <input type="email" name="emailaddress" [(ngModel)]="emailaddress">
        </p>
        <p>
          <label>Phone Number</label>
          <input type="text" name="phonenumber" [(ngModel)] ="phonenumber">
        </p>
        <p>
          <label>Send Message Type</label>
          <select class="form-control" name="sendMsgType" [(ngModel)] ="sendMsgType">
            <option>message</option>
            <option>file</option>
            <option>both</option>
          </select>
        </p>
        <p *ngIf="sendMsgType == 'file' || sendMsgType == 'both'">
          <label>Upload File</label>
          <input id="contactUsfileWidget" type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" />
        </p>
        <p class="full" *ngIf="sendMsgType == 'message' || sendMsgType == 'both'">
          <label>Message</label>
          <textarea type ="text" name="message" rows="5" [(ngModel)]="message"></textarea>
        </p>
        <p class="full">
          <button (click)="send()">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>
