@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    margin-top: 45px;
}

ul{
    list-style: none;
    padding:0;
}

.brand{
    text-align: center;
}

.brand span{
    color:#fff;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
    padding: 1em;
}

.company-info{
    background:#c9e6ff;
}

.company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
}

.container .table-bordered td,.container .table-bordered th {
  border: 0px solid #dee2e6;
}

.container table.dataTable.no-footer {
  border: none;
  border-bottom: 1px solid #111111;
}

/*.container .table th,*/
/*.container .table tr {*/
  /*border: 1px solid #dee2e6;*/
/*}*/



/* LARGE SCREENS */
@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding:2em;
    }

    .company-info h3, .company-info ul, .brand{
        text-align: left;
    }
}

.container table.dataTable tbody tr {
  background-color: transparent;
}

.btn-sm {
  border-radius: 50%;
}

.btn-primary {
  border-radius: 30px;
}
