@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.signup-component{
  width: 65%;
  margin: 0 auto;
  max-width: 750px;
  margin-top: 45px;

  .brand{
    line-height: 1.8;
  }

  .signup-component-form{
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    margin-top: 15px;
    padding: 30px 0;
    width: 100%;
    margin-bottom: 30px;
    .col-sm-3{
      display: inline-block;
    }
    .col-sm-9{
      display: inline-block;
    }
  }
}

