<!--The content below is only a placeholder and can be replaced.-->


<div class="Senior-Project card" style="border: 0; border-color: rgb(223, 233, 238); width:100%;height:100%">
  <div >
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>

  <div class="footer-container">
    <div class="company-copyright" >© 2018. Kattell and Company, P.L.. All Rights Reserved.</div>
    <div class="company-info">
        <span class="info-item">808-B NW 16th Avenue</span>
        <span class="info-item">Gainesville, Florida 32601</span>
        <span class="info-item">Telephone: (352) 395-6565</span>
        <span class="info-item">Facsimile: (352) 395-6636</span>
    </div>
  </div>
</div>

