
.card {
  height:100%;
  width: 100%;
  margin: 0%;
  background-color: rgb(223, 233, 238);
  display: block;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}
