.Senior-Project{
  &.card {
    height:100%;
    width: 100%;
    margin: 0%;
    background-color: rgb(223, 233, 238);
    display: block;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;

    .footer-container{
      text-align: center;
      line-height: 1.6;
      margin-top: 12px;
      .company-copyright{
      }
      .company-info{
        .info-item{
          margin-left: 12px;
        }
      }
    }
  }
}
