<div class = "card col-6 mx-auto" id="homeCard" style="margin-top: 5%;" >
    <form [formGroup]="form" (submit) = "onSaveUserInfo()">
        <mat-form-field style="margin-top: 2%;">
            <input matInput type="text"
            id="InputURL" placeholder="Enter an Organization Website URL*"
            name="userWebsite"
            formControlName="userWebsite">
            <mat-error *ngIf="form.get('userWebsite').invalid">Please enter a valid organization website URL</mat-error>
        </mat-form-field>
        <br/><br/>

        <mat-form-field >
          <input type="name"
          matInput
          id="InputName"
          placeholder="Enter an Organization Name*"
          name="userName"
          formControlName="userName">
          <mat-error *ngIf="form.get('userName').invalid">Please enter a valid organization name</mat-error>
        </mat-form-field>

        <br/><br/>
        <mat-form-field class="form-group">
            <input type="text"
            matInput
            id="InputLocation"
            placeholder="Enter an Organization Location*"
            name="userLocation"
            formControlName="userLocation">
            <mat-error *ngIf="form.get('userLocation').invalid">Please enter a valid organization location</mat-error>
        </mat-form-field>


        <br/>
        <br/>
      <section class="row" style="margin-bottom: 2%;">
        <button  type="submit"  class="mx-auto btn btn-outline-primary" style= "border-radius: 20px;">Save Info</button>
      </section>
    </form>

  </div>

