
<div align="center">
    <h2>Welcome to Kattell and Company, P.L.</h2>
    <h6> A professional accounting firm serving the nonprofit community.</h6>
  </div>

<div class = "card mx-auto" id="homeCard" style="max-width: 75%;" align = "center">



  <div class="row">
      <div class="col-sm-6">
          <div class="card bg-light mb-3" >
              <div class="card-header">Email Addresses </div>

              <div class="card-body" *ngIf = "employeeInfo.length > 0">
                <p class="card-text" *ngFor="let einfo of employeeInfo">
                    {{ einfo.employeeName }} -- {{ einfo.employeeEmail }}
                    <button class="btn btn-success">EDIT</button>
                    <button class="btn btn-danger" (click)="onDelete(einfo.employeeID)">DELETE</button>
                </p>

              </div>
          </div>
      </div>
      <div class="col-sm-6">
       <div class="card bg-light mb-3">
              <div class="card-header">Company Info</div>
              <div class="card-body">
                <p class="card-text">
                    808-B NW 16th Avenue
                    Gainesville, Florida 32601 <br/>
                    Telephone: (352) 395-6565 <br/>
                    Facsimile:  (352) 395-6636
                </p>
              </div>
          </div>
      </div>
    </div>
  </div>

 <div align = "center">
    <a class="btn btn-primary" role="button" routerLink="/addEmployeeInfo" routerLinkActive = "router-link-active" [routerLinkActiveOptions]="{exact:
      true}" ><h6>Add new Employee Info</h6></a>
 </div>


<style>
body {
    background-color: lightblue;
}
</style>

