<!--<div class ="testimonials">-->
  <!--<h3>Check out what other people say:</h3>-->
<!--<a href = "http://kattell.com/Sites/78/Images/Einstein%20Montessori%20School.pdf">Einstein Montessori School</a>-->
<!--<br/>-->
<!--<a href = "https://kattell.ishopserver.com/Sites/78/Images/Neighborhood%20Housing%20and%20Development%20Coporation.pdf">-->
  <!--Neighborhood Housing and Development Corporation</a>-->
<!--</div>-->


<div class="testimonials forth-img">
    <div class="inro-container animated bounceInLeft">
      <div class="title">
        TESTIMONIALS
      </div>
      <div class="introduce">
        Professional standards also require that we undergo an external peer review at 
        least once every 3 years.In many ways a peer review is like an audit. An 
        independent party inspects a sample of our work and provides an opinion and, 
        if applicable, a letter of comments.
      </div>
      <div class="img-container">
        <div class="img-item">
          <img src="../../../assets/images/nhdc.png">
          <div>
            <a href="https://kattell.ishopserver.com/Sites/78/Images/Neighborhood%20Housing%20and%20Development%20Coporation.pdf" target="_blank">
              Neighborhood Housing and Development Corporation
            </a>
          </div>
        </div>
        <div class="img-item">
          <img src="../../../assets/images/school.png">
          <div>
            <a href="http://kattell.com/Sites/78/Images/Einstein%20Montessori%20School.pdf" target="_blank">
              Einstein Montessori School
            </a>
          </div>
        </div>
        <div class="img-item">
          <img src="../../../assets/images/cri.png">
          <div>
            <a href="http://kattell.ishopserver.com/Sites/78/Images/Kattell%20and%20Company%20-%20System%20Review%20Report.pdf" target="_blank">CARR RIGGS & INGRAM</a>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
</div>
