<div class="container">
  <div class="wrapper animated bounceInLeft"  style=" padding:1em;  margin-top: 45px;">
    <div class="company-info">
      <h3>Send us a message</h3>
      <ul>
        <li><i class="fa fa-road"></i> 808 NW 16th Ave B, Gainesville, FL 32601</li>
        <li><i class="fa fa-phone"></i> (352)395-6565</li>
        <li><i class="fa fa-envelope"></i> rxu960830@ufl.edu</li>
      </ul>
    </div>
    <div class="contact">

      <h3>Upload File</h3>
      <form  method="post">
        <p>
          <label>Email Address</label>
          <input type="email" name="emailaddress" [(ngModel)]="emailaddress">
        </p>
        <p>
          <label>First Name</label>
          <input type="text" name="firstname" [(ngModel)]="firstname">
        </p>
        <p>
          <label>Last Name</label>
          <input type="text" name="lastname" [(ngModel)]= "lastname" >
        </p>
        <p>
          <label>Upload File</label>
          <input id="fileWidget" type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" />
        </p>

        <p class="full">
          <button (click)="sendUserInfo()">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>
